# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
.eggs/

# Virtual environment
.venv/
venv/
env/

# Scrapy
.scrapy/
scrapy_errors.log

# IDEs
.idea/
.vscode/

# OS
.DS_Store

# Testing
.pytest_cache/
.ruff_cache/
htmlcov/
.coverage

# Env files
.env
